<app-nav-bar />

<div class="container mt-5 px-5 border-profile">
    <div class="row justify-content-center g-3">

        <div class="col-12 col-md-7">
            <div class="card border-dark h-100 w-100">
                <div class="row g-0">
                    <div class="col-lg-4">
                        <img src="/assets/images/tomasa.jpg" class="img-fluid rounded" alt="...">
                    </div>
                    <div class="col-lg-8 col-md-12 col-12">
                        <div class="card-body">
                            <h5 class="card-title">Tomasa3D</h5>
                            <p class="card-text">A 3D model of my cat created using Angular and the ThreeJS library. This project features an interactive 3D representation of Tomasa, rendered seamlessly within a web application.</p>
                            <div class="d-flex flex-wrap gap-2">
                                <span class="badge bg-success">TypeScript</span>
                                <span class="badge bg-success">HTML</span>
                                <span class="badge bg-success">CSS</span>
                            </div>
                            <div class="d-flex justify-content-start gap-2 pt-4">
                                <button type="button" class="btn btn-cornflow" (click)="goToLink('https://srodzav.github.io/tomasa3D/')">Live Demo <i class="bi bi-box-arrow-up-right"></i></button>
                                <button type="button" class="btn btn-outline-cornflow" (click)="goToLink('https://github.com/srodzav/tomasa3D')">View Source <i class="bi bi-github"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-7">
            <div class="card border-dark h-100 w-100">
                <div class="row g-0">
                    <div class="col-lg-4">
                        <img src="/assets/images/spotify.png" class="img-fluid rounded" alt="...">
                    </div>
                    <div class="col-lg-8 col-md-12 col-12">
                        <div class="card-body">
                            <h5 class="card-title">Spotify Management App</h5>
                            <p class="card-text">A web application that allows users to search for songs and add them to their favorites using localStorage. Using API from Spotify.</p>
                            <div class="d-flex flex-wrap gap-2">
                                <span class="badge bg-success">Python</span>
                                <span class="badge bg-success">JavaScript</span>
                                <span class="badge bg-success">HTML</span>
                            </div>
                            <div class="d-flex justify-content-start gap-2 pt-4">
                                <button type="button" class="btn btn-cornflow" disabled>Live Demo <i class="bi bi-box-arrow-up-right"></i></button>
                                <button type="button" class="btn btn-outline-cornflow" (click)="goToLink('https://github.com/srodzav/Spotify-App')">View Source <i class="bi bi-github"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-7">
            <div class="card border-dark h-100 w-100">
                <div class="row g-0">
                    <div class="col-lg-4">
                        <img src="/assets/images/twitter.png" class="img-fluid rounded" alt="...">
                    </div>
                    <div class="col-lg-8 col-md-12 col-12">
                        <div class="card-body">
                            <h5 class="card-title">Reishire</h5>
                            <p class="card-text">A Twitter image search bot. Tag &#64;Reishire with a text, it will respond with an image matching your request. Using API from Twitter.</p>
                            <div class="d-flex flex-wrap gap-2">
                                <span class="badge bg-success">Python</span>
                            </div>
                            <div class="d-flex justify-content-start gap-2 pt-4">
                                <button type="button" class="btn btn-cornflow" disabled>Live Demo <i class="bi bi-box-arrow-up-right"></i></button>
                                <button type="button" class="btn btn-outline-cornflow" (click)="goToLink('https://github.com/srodzav/Reishire')">View Source <i class="bi bi-github"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer />