<app-nav-bar />

<div class="container mt-5 px-5 border-profile">
  <div class="row justify-content-center g-3">
    <!-- Tomasa3D -->
    <div class="col-12 col-md-7">
      <div class="card border-dark h-100 w-100">
        <div class="row g-0">
          <div class="col-lg-4">
            <img
              src="/assets/images/tomasa.jpg"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
          <div class="col-lg-8 col-md-12 col-12">
            <div class="card-body">
              <h5 class="card-title">Tomasa3D</h5>
              <p class="card-text">
                A 3D model of my cat created using ThreeJS library. Featuring an
                interactive 3D representation of Tomasa, rendered seamlessly
                within a web application. Coded in Angular.
              </p>
              <div class="d-flex flex-wrap gap-2">
                <span class="badge bg-primary">Angular</span>
                <span class="badge bg-success">TypeScript</span>
                <span class="badge bg-success">HTML</span>
                <span class="badge bg-success">CSS</span>
              </div>
              <div class="d-flex justify-content-start gap-2 pt-4">
                <button
                  type="button"
                  class="btn btn-cornflow"
                  (click)="goToLink('https://tomasa3d.sebastianrdz.com')"
                >
                  Live Demo <i class="bi bi-box-arrow-up-right"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-outline-cornflow"
                  (click)="goToLink('https://github.com/srodzav/tomasa3D')"
                >
                  View Source <i class="bi bi-github"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Denue -->
    <div class="col-12 col-md-7">
      <div class="card border-dark h-100 w-100">
        <div class="row g-0">
          <div class="col-lg-4">
            <img
              src="/assets/images/inegi.png"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
          <div class="col-lg-8 col-md-12 col-12">
            <div class="card-body">
              <h5 class="card-title">DENUE Search</h5>
              <p class="card-text">
                An app that lets users search Mexico's DENUE database to explore nearby economic units, visualize them on a map, and view key details. Built with .NET.
              </p>
              <div class="d-flex flex-wrap gap-2">
                <span class="badge bg-primary">.NET</span>
                <span class="badge bg-success">JavaScript</span>
                <span class="badge bg-success">C#</span>
              </div>
              <div class="d-flex justify-content-start gap-2 pt-4">
                <button
                  type="button"
                  class="btn btn-cornflow"
                  (click)="goToLink('https://denue.sebastianrdz.com')"
                >
                  Live Demo <i class="bi bi-box-arrow-up-right"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-outline-cornflow"
                  (click)="goToLink('https://github.com/srodzav/inegi')"
                >
                  View Source <i class="bi bi-github"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Skull 3D -->
    <div class="col-12 col-md-7">
      <div class="card border-dark h-100 w-100">
        <div class="row g-0">
          <div class="col-lg-4">
            <img
              src="/assets/images/skull3d.png"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
          <div class="col-lg-8 col-md-12 col-12">
            <div class="card-body">
              <h5 class="card-title">Skull3D</h5>
              <p class="card-text">
                A minimal 3D cat skull model created using ThreeJS library. Featuring a
                personal signature. Coded in React.
              </p>
              <div class="d-flex flex-wrap gap-2">
                <span class="badge bg-primary">React</span>
                <span class="badge bg-success">JavaScript</span>
                <span class="badge bg-success">HTML</span>
                <span class="badge bg-success">CSS</span>
              </div>
              <div class="d-flex justify-content-start gap-2 pt-4">
                <button
                  type="button"
                  class="btn btn-cornflow"
                  (click)="goToLink('https://kannssai.sebastianrdz.com')"
                >
                  Live Demo <i class="bi bi-box-arrow-up-right"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-outline-cornflow"
                  (click)="goToLink('https://github.com/srodzav/skull3d')"
                >
                  View Source <i class="bi bi-github"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Movie Reviews -->
    <div class="col-12 col-md-7">
      <div class="card border-dark h-100 w-100">
        <div class="row g-0">
          <div class="col-lg-4">
            <img
              src="/assets/images/reviews.png"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
          <div class="col-lg-8 col-md-12 col-12">
            <div class="card-body">
              <h5 class="card-title">Movie Reviews</h5>
              <p class="card-text">
                A web app that provides my personal movie reviews. Coded
                in React.
              </p>
              <div class="d-flex flex-wrap gap-2">
                <span class="badge bg-primary">React</span>
                <span class="badge bg-success">JavaScript</span>
                <span class="badge bg-success">HTML</span>
                <span class="badge bg-success">CSS</span>
              </div>
              <div class="d-flex justify-content-start gap-2 pt-4">
                <button
                  type="button"
                  class="btn btn-cornflow"
                  (click)="goToLink('https://reviews.sebastianrdz.com')"
                >
                  Live Demo <i class="bi bi-box-arrow-up-right"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-outline-cornflow"
                  (click)="goToLink('https://github.com/srodzav/reviews')"
                >
                  View Source <i class="bi bi-github"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Currency Converter -->
    <div class="col-12 col-md-7">
      <div class="card border-dark h-100 w-100">
        <div class="row g-0">
          <div class="col-lg-4">
            <img
              src="/assets/images/currency.ico"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
          <div class="col-lg-8 col-md-12 col-12">
            <div class="card-body">
              <h5 class="card-title">Currency Converter</h5>
              <p class="card-text">
                A calculator that helps users quickly and accurately convert
                between different currencies. It provides real-time exchange
                rates, an intuitive user interface, and support for multiple
                currencies. Coded in React.
              </p>
              <div class="d-flex flex-wrap gap-2">
                <span class="badge bg-primary">React</span>
                <span class="badge bg-success">JavaScript</span>
                <span class="badge bg-success">HTML</span>
                <span class="badge bg-success">CSS</span>
              </div>
              <div class="d-flex justify-content-start gap-2 pt-4">
                <button
                  type="button"
                  class="btn btn-cornflow"
                  (click)="goToLink('https://currency.sebastianrdz.com')"
                >
                  Live Demo <i class="bi bi-box-arrow-up-right"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-outline-cornflow"
                  (click)="
                    goToLink('https://github.com/srodzav/currency-converter')
                  "
                >
                  View Source <i class="bi bi-github"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer />
