/* You can add global styles to this file, and also import other style files */
[data-bs-theme="dark"] p b {
    color: #00ff88 !important;
}

[data-bs-theme="dark"] li b {
    color: #00ff88 !important;
}

[data-bs-theme="dark"] h5 b {
    color: #00ff88 !important;
}