<app-nav-bar />

<div class="container mt-5 px-5">

    <div class="row">
        <div class="text-left">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class=""><b>About me</b></h2>
                <br>
                <p>My name is Sebastian. I'm 25 years old. I believe in taking care of myself and a balanced diet and rigorous exercise routine. I graduated from the Universidad Autonoma de San Luis Potosí, with a degree in <b>Computer Science</b>. I currently have three years of experience in web development.</p>
                <p>My work has led me to focus on <b>full-stack development</b>, though I have a particular passion for <b>front-end</b> (I also enjoy <b>back-end</b>!). I'm motivated by creating solutions that make an impact, while staying open to opportunities for growth and innovation.</p>
                <p>Outside of work, I have several hobbies, with weightlifting and running being the ones I enjoy the most. I consider myself to live an active life.</p>
                <p>I have two cats; <b>Kira</b>, who is 6 years old, and <b>Tomasa</b> (who I dedicated a project to) who is 5 years old.</p>
                <p>I enjoy science fiction, but I find it hard to believe that AI will take our jobs (at least in the IT world), especially when human creativity and problem-solving are irreplaceable.</p>
                <p>My top 5 movies are (not in order):</p>
                <ul>
                    <li>Parasite</li>
                    <li>Ratatouille</li>
                    <li>Past Lives</li>
                    <li>American Psycho</li>
                    <li>Oppenheimer</li>
                </ul>
                <p>If you have any comments or questions, feel free to reach out:</p>
                <p>personal inquiries: <b>srdzavala&#64;gmail.com</b></p>
                <p>jobs inquiries: <b>contact&#64;sebastianrdz.com</b></p>
                <br>
                <p class="text-right">- sebastian</p> 
                <small>written 29/11/2024</small> <br>
                <small>updated 27/10/2025</small>
            </div>

        </div>
    </div>

</div>

<app-footer />